[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
  "npm install --prefer-offline --no-audit --legacy-peer-deps"
]

[phases.build]
cmds = [
  "export NEXT_TELEMETRY_DISABLED=1",
  "npm run build"
]

[start]
cmd = "node server.js"

[variables]
NODE_ENV = "production"
NEXT_TELEMETRY_DISABLED = "1"

